body {
  background-color: #269abc;
}
header .navbar {
  background-color: snow;
}
header li {
  font-size: 18px;
  margin-right: 10px;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
header .navbar-nav:nth-child(1) {
  margin-left: 70px;
}
header .navbar-nav:nth-child(2) {
  margin-left: 50px;
}
header img {
  margin-top: 10px;
  width: 200px;
}
header .glyphicon {
  margin-right: 15px;
}
.section-text {
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
}
section {
  padding-top: 250px;
  height: 1200px;
}
section img {
  position: relative;
}
#intro {
  background-color: #269abc;
  width: 100%;
}
#intro p {
  padding-top: 100px;
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
}
#marketing-explanation {
  background-color: #a6e1ec;
  width: 100%;
}
#marketing-explanation p {
  padding-top: 90px;
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
}
#marketing-explanation img {
  width: 400px;
  height: 300px;
}
#benefits {
  background-color: lavender;
}
#benefits img {
  width: 300px;
  height: 300px;
}
#benefits li {
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  margin-top: 2em;
}
#why-algor {
  background-color: lavenderblush;
}
#why-algor p {
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}
#why-algor img {
  width: 200px;
  height: 300px;
  padding-top: 30px;
}
#how-works {
  background-color: #d9edf7;
}
#how-works p {
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
}
#how-works img {
  width: 600px;
  padding-top: 30px;
}
#spv {
  background-color: wheat;
}
#spv img {
  width: 300px;
}
#spv li {
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  margin-top: 2em;
}
footer {
  height: 300px;
  background-color: #000000;
  width: 100%;
}
@media (min-width: 767px) {
  .navbar {
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    /* Customize the look and feel of the collapsed top nav here */
    padding: 0;
  }
}
